/**
* @file
* This file overrides kingfisher branding elements.
*
*/

/* Header bg */

.header-bg-section {
    color: #fff;
    text-align: center;
    min-height: 500px;
    position: relative;
    background-size: cover;
    background-position: center;
    margin-bottom: 2em;
}

.header-bg-section > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.header-bg-section::after {
    position: absolute;
    content: '';
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

/* Font styles */

h1, h2, h3 {
    font-weight: bold;
}

h2 {
    color: #735321;
    font-weight: bold;
}

h3 {
    color: #073d74;
}

.light-gold-text /* @todo better selector name? */ {
    color: #E6D2AD;
}

.header-blue-gold {
    color: #1E7CA4;
}

.header-blue-gold:before {
    content: '';
    position: absolute;
    height: 12px;
    width: 50px;
    border-radius: 0px;
    left: .8em;
    top: 1.8em;
    background: #976E2B;
    opacity: 0.3;
    z-index: -1;
}

.foundation-board-text p:nth-child(1) {
    color: #002d5b;
    font-weight: bold;
}

.foundation-board-text p:nth-child(2) {
    color: #1E7CA4;
    font-weight: bold;
    font-size: 1.75em;
}

/* Buttons */

a.foundation-button {
    display: inline-block;
    padding: 1em;
    border-bottom: none;
    border-radius: 4px;
    margin: 0.25em 0;
    font-weight: bold;
}

a.foundation-button.blue {
    color: #fff;
    background: #073D74;
    border: 3px solid transparent;
}

a.foundation-button.blue:hover,
a.foundation-button.blue:focus {
    color: #073D74;
    border: 3px solid #073D74;
    background: transparent
}

a.foundation-button.white {
    color: #fff;
    background: transparent;
    border: 3px solid #fff;
}

a.foundation-button.white:hover,
a.foundation-button.white:focus {
    color: #073D74;
    border: 3px solid #073D74;
    background: #fff;
}
a.foundation-button.green {
    color: #fff;
    background: #24752D;
    border: 3px solid transparent;
}

a.foundation-button.green:hover,
a.foundation-button.green:focus {
    color: #24752D;
    border: 3px solid #24752D;
    background: transparent;
}

/* Footer */

.region-footer {
    background: #080808;
    border-top: 1.5em solid #735321;
    color: #fff;
    padding: 1em;
}

.region-footer #block-foundationfooter {
    display: flex;
    justify-content: center;
}

.region-footer #block-foundationfooter > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 1400px;
}

.region-footer .foundation-logo {
    background-image: url("/themes/custom/kffoundation/foundation-logo.svg");
    background-repeat: no-repeat;
    background-size: 175px;
    flex: .1 0 auto;
    width: 200px;
    height: 200px;
    margin: 0.75em 1em;
}

.region-footer .hfc-address {
    display: flex;
    flex: 1 0 auto;
    margin: 0.5em;
    width: 250px;
}

.region-footer .contact-block {
    display: inline-block;
    margin-bottom: 0.5em;
}

.region-footer .contact-block a {
    margin: 0 .5em -2px .5em;
    padding: .3em 0;
    border-bottom: 1px solid #FFF;
}

.region-footer .contact-block a:hover,
.region-footer .contact-block a:focus {
    background: none;
    margin-bottom: -3px;
    border-bottom: 2px solid #8C8C8C;
    background: #FFF;
    color: #262729;
}

.region-footer a {
    color: #fff;
    border-bottom: 2px solid transparent;
}

.region-footer a:hover,
.region-footer a:focus {
    border-bottom: 2px solid #fff;
}

/* @todo put this somewhere else for reusability */

.masonry-view {
    width: 100%;
    margin: 0 auto;
}

.masonry-view .views-row {
    margin-bottom: 0.2em;
}

.masonry-view a {
    border-bottom: none;
}
@media only screen and (min-width: 850px) {

    .masonry-view .views-row {
        width: calc(100%/3 - .5em);
    }

    .region-footer .contact-block {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
    }

    .region-footer .contact-block a {
        margin-top: 5px;
    }

}
