/**
* @file
* This file overrides kingfisher header elements.
*
*/

.section-header {
    background: #002D5B;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    flex-wrap: wrap;
}

/* Main menu */

#block-kffoundation-main-menu {
    flex: 0 1 auto;
}

.region-header-bottom #block-kffoundation-main-menu > ul {
    padding: 0;
}

.region-header-bottom #block-kffoundation-main-menu > ul li {
    padding: 0;
    border-bottom: 2px solid transparent;
}

.region-header-bottom #block-kffoundation-main-menu > ul li a {
    display: block;
    text-transform: uppercase;
    margin-bottom: -2px;
    padding: 0.3em;
    color: #fff;
    border-bottom: 1px solid #FFF;
}

.region-header-bottom #block-kffoundation-main-menu > ul li a:hover,
.region-header-bottom #block-kffoundation-main-menu > ul li a:focus {
    margin-bottom: -3px;
    border-bottom: 2px solid #fff;
    background: none; /* ugh */
}

/* Donation Cart Styles */

.region-header-bottom .cart--cart-block {
  margin-top: .5em;
}

.region-header-bottom .cart--cart-block a {
  color: #fff;
  margin-bottom: -2px;
}

.cart--cart-block a:hover,
.cart--cart-block a:focus {
  background: none;
  border-bottom: 2px solid #fff;
  margin-bottom: -3px;
}

.region-header-bottom .cart--cart-block .cart-block--contents a {
    color: #262729;
}

.region-header-bottom .cart--cart-block .cart-block--contents a:hover,
.region-header-bottom .cart--cart-block .cart-block--contents a:focus {
    background: #CCC;
    border-bottom: 2px solid;
}

.region-header-bottom .cart-block--summary__icon img {
  width: 20px;
  margin: .25em .5em;
}

.region-header-bottom .cart-block--link__expand {
    display: flex;
    flex-flow: row;
}

.region-header-bottom .cart-block--summary__count {
  padding: .35em 0 0 0.25em;
}

/* Secondary Menu */
.region-header-top {
    display: flex;
    justify-content: center;
    flex: 100%;
}

.region-header-bottom #block-kffoundation-main-menu-menu > ul li {
    color: #fff;
}

.site-name {
  background: url('/themes/custom/kffoundation/foundation-logo.svg');
  background-repeat: no-repeat;
}

.site-name a {
    content: '';
    height: 125px;
    width: 125px;
    display: block;
    color: transparent;
    border: 2px solid transparent;
}

.site-name a:hover,
.site-name a:focus {
    background-color: transparent;
    border: 2px solid #fff;
}

/* Social Media menu */
#block-socialmedia {
    display: flex;
    justify-content: center;
    margin: .75em 0;
}

#block-socialmedia > ul {
    display: flex;
    padding: 0;
}

#block-socialmedia > ul li {
    display: flex;
    flex: 0 1 auto;
}

#block-socialmedia > ul li a {
    display: block;
    overflow: hidden;
    width: 30px;
    height: 0;
    margin: 0 15px 0 15px;
    padding: 50px 0 0;
    border-bottom: none;
    border-radius: 5px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#block-socialmedia > ul li:nth-child(1) a /* @todo change this, these links should really have classes? */{
    background-image: url(../images/socialbuttons/fbwhiteicon.svg);
}

#block-socialmedia > ul li:nth-child(2) a {
    background-image: url(../images/socialbuttons/linkedinwhiteicon.svg);
}

#block-socialmedia > ul li:nth-child(3) a {
    background-image: url(../images/socialbuttons/twitterwhiteicon.svg);
}

/* Sitename */


/* Search */
#search-block-form {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
}

#search-block-form .form-item input {
    min-width: 250px;
    height: 2.5rem; /* match button height */
    padding: 0;
    border: 1px solid #DEDEDE;
    background-color: #FFF;
}

#search-block-form input[type="submit"],
#search-button-expand {
    display: inline-block;
    margin: 0;
    margin-left: .5em;
    padding: 0.3em 35px 0.3em 0.35em;
    text-transform: uppercase;
    color: #FFF;
    border: 2px solid #FFF;
    background-color: transparent;
    background-image: url("../images/search-white.svg");
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: 20px 20px;
    font-weight: 500;
    cursor: pointer;
}

#search-block-form input[type="submit"] {
    height: 2.5em;
    vertical-align: bottom;
}

#search-block-form input[type="submit"]:hover,
#search-block-form input[type="submit"]:focus,
#search-button-expand:hover,
#search-button-expand:focus {
    text-decoration: none;
    color: #262729;
    border: 2px solid #262729;
    background-color: #FFF;
    background-image: url("../images/search-black.svg");
}

#search-button-expand.expand {
    color: #262729;
    background-color: #CCC;
    background-image: url("../images/closebutton-black.svg");
}

#search-button-expand.expand:hover,
#search-button-expand.expand:focus {
    color: #262729;
    border: 2px solid #262729;
}

#search {
    margin-top: -4.5em;
    padding: 1em;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color: #DEDEDE;
}

#search.expand {
    margin-top: 0;
}

@media only screen and (min-width: 1400px) {
      .region-header-top {
        flex: 0 1 auto;
    }

        .region-header-bottom {
        justify-content: flex-end;
        align-content: flex-end;
    }
}

@media only screen and (min-width: 1005px) {

    /* Site Logo/Name */
    .region-header-bottom {
        margin-top: 1em;
        max-width: 1000px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-content: flex-end;
    }

    .region-header-bottom #block-kffoundation-main-menu > ul {
        display: flex;
        flex-flow: row;
        width: 100%;
    }

    .region-header-bottom #block-kffoundation-main-menu > ul li {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        margin: 0 1em;
        padding: 0 .5em;
        border-bottom: none;
    }

    .region-header-bottom #block-kffoundation-main-menu > ul li:hover,
    .region-header-bottom #block-kffoundation-main-menu > ul li:focus {
        border-bottom: none;
    }

    /* Donation Cart Styles */
    .region-header-bottom .cart-block--summary__icon img {
        margin: .5em .25em;
    }

    .region-header-bottom .cart-block--link__expand {
        flex-flow: row-reverse;
    }

    .region-header-bottom .cart-block--summary__count {
        padding: .6em 0.45em 0 0;
    }

    .region-header-bottom .cart--cart-block {
        margin-right: 1.5em;
     }

    /* Social Media menu */
    #block-socialmedia {
        flex: 0 1 auto;
    }

    /* Search */
    #search-block-form {
        flex: 0 1 auto;
    }

    .search-block-form  {
        display: flex;
        flex: .25 0 auto;
    }

    #search-block-form .form-item input {
        min-width: 175px;
    }
}


@media only screen and (min-width: 430px) {

    #search-block-form .form-item input {
        width: 70%;
    }

}

@media only print {
    .section-header {
        display: none;
    }
}
