/**
 * @file
 * This site-specific completely overrides variables.css from the Kingfisher base theme.
 */

:root {
  --main-font: Arial, sans-serif;
  --heading-font: Arial, san-serif;
  --font-color: #262729;
  --initial-font-size: 1em;
  --initial-line-height: 1.5em;
  --letter-spacing: initial;
  --background-color: #fff;
  --link-color: #002d5b;
  --primary-branding-color: #0054a6;
  --secondary-branding-color: #002d5b;
  --accent-color: #1e7ca4;
  --hover-accent-color: #dedede;
  --black: #262729;
  --dark-gray: #595959;
  --light-gray: #ccc;
  --white: #fff;
}
