{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'product',
    'product-with-qty',
    product_entity.bundle|clean_class,
    not product_entity.isPublished() ? 'node--unpublished',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <div class="product-description-wrapper">
    {% if product.variation_field_image.0 is not empty %}
      {{ product.variation_field_image }}
    {% endif %}
    {{ product.variation_field_description}}
  </div>
  {{- product|without('variation_field_image', 'variation_field_description', 'variation_attributes') -}}
</article>
