{#
/**
 * @file
 *
 * Product template for gallery views.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'product',
    'product-gallery',
    'product-type--' ~ product_entity.bundle|clean_class,
    not product_entity.isPublished() ? 'node--unpublished',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <h2>{{ product.title|render|striptags }}</h2>
  {{- product|without('title', 'variation_attributes') -}}
</article>
